
/* Menu responsive */

.navbar-light .navbar-toggler 
{
    width: 15%;
    border-color: rgba(0,0,0,0);
}
li:hover
{
	/*color: rgb(92,184,92);*/
	font-weight: bold;
}
/* 	Couleur text nav: ;		*/
.navbar-dark .navbar-nav .nav-link 
{
    color: white;
}
/*	les entetes: */
#entete
{
	background-image: url('images/alaska1.jpg');
	background-size: cover;
  	background-repeat: no-repeat;
	height: 300px;
}
#titlePosition
{
	padding-top: 25%;
}
#entete_ouvrages
{
	background-image: url('images/book.jpg');
	background-size: cover;
  	background-repeat: no-repeat;
	height: 300px;
	padding-top: 130px;
}
/*	Les images en générales et ouvrages: */
.porto img
{
	max-width: 220px;
}
img
{
	width: 100%;
	height:auto;
}
/* Taille formulaire de contact */
.contact
{
	max-width: 60%;
}
footer img
{
	width: 50px;
	margin-right: 5px;
}
footer li
{
	list-style-type: none;
}
.jumbotron
{
	margin-bottom: 0;
}
/* Admin side */
#adminButton
{
	width: 63px;
	height: 30px;
	font-size: 10px;
}
.table
{
	font-size: 12px;
}
@media (min-width: 768px)
{
	/* Page acceuil*/
	#titlePosition
{
	padding-top: 16%;
}
/* MES OUVRAGES */
	section
	{
		display: flex;
		margin-bottom: 30px;
	}
	article
	{
		width: 75%;
		padding-left: 20px;
	}
	/* Admin table*/
	.table td, .table th
	 {
		padding: 7px;
	 }
	 #adminButton
{
	width: 84px;
	height: 30px;
	font-size: 12px;
}
.table
{
	font-size: 15px;
}
}
@media (min-width: 992px)
{
	.navbar-expand-lg .navbar-collapse 
	{
    	justify-content: flex-end;
	}
	li
	{
		padding-right: 25px;
	}

}
